.logosexp{
    width: 15%;
    margin: auto;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.exp{
    text-align: center;
    
}

.card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 200x;
}