.fond{
  background-image: url('https://images7.alphacoders.com/383/383848.jpg');
  background-position-x: center;
  background-size: cover;
  min-height: 100vh;

}


.homePage{
  max-width: 70% ;
  margin: auto;
  margin-bottom: 10%;
  
}